@page "/"
    <div class="jumbotron">
        <h1>Blazor Test</h1>
        <p class="lead">This is simply a test App.</p>
        <p><a href="/items" class="logo-font">Order Some Food &raquo;</a></p>
    </div>
